@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	width: 100%;
    height: 100%;
	
	background: linear-gradient(#045afa, #0040C1);
	
	font-family: 'Noto Sans', Sans;
	font-size: 16px;
}

input[type=input],
input[type=password] {
	width: 25em;
	height: 4em;
	display: inline-block;
	border: 1px solid #aaa;
	box-sizing: border-box;
	padding-left: 3em;
	font-size: 1em;
}

input[type=input] {
	border-radius: 4px 4px 0px 0px;
}

input[type=password] {
	border-radius: 0px 0px 4px 4px;
	border-top: none;
}

input[type=submit] {
	width: 18em;
	height: 2.2em;
	background-color: #0c94e8;
	font-size: 1.4em;
	color: white;
	border: none;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #0fc0fc;
}

form {
	display: table;
	
	margin: auto;
}

.login-container {
	position: absolute; 
	top: 50%; 
	left: 50%;
	
	width: 32em; 
	height: 22em;
	
	transform: translate(-50%, -50%);
	text-align: center;

	background-color: #fff;
	
	-webkit-font-smoothing: antialiased;
}

.userpass-container {
	position: relative;
	
	padding: 0; 
	margin: 0;
}

.userpass-icon {
	position: absolute;
	
	top: 50%;
	left: 0.7em;
	
	color: #666;
	font-size: 20px;
	
	transform: translate(0, -50%);
	
	-webkit-font-smoothing: antialiased;
}

#status-text {
	margin: 0.5em;
	opacity: 0;
	
	cursor: default;
	
	transition: all 200ms linear;
}

@media only screen and (max-width: 888px) {	
	html, body {
		font-size: 18px;
	}
	
	.login-container {
		width: 100%;
	}
}